h1{
	font-family:comic sans;
	color:red;
   font-size:10px;
	

}
p{
	font-family:chiller;
	color:red;
   font-size:30px;
	

}
bodyy
{
	background-image: url("chat.jpg");
	 background-size: 2000px 2000px;
	  background-repeat: no-repeat;
}